.Rproj.user
.Rhistory
.RData
.Ruserdata

BIOL-310-LAB-2-question-11-17--Markdown-_files
intro
incomplete, misc

how to code/data_cleaning

how to code/How to do loops_conditions (UBCV)
how to code/nasa datadownload setup
how to code/noaa_resources
how to code/intro_r_resources/


data/spatial/CWFIS_Datamart
data/spatial/gov_bc_fire
data/spatial/modis_nrt
data/spatial/nasa_fire
data/spatial/noaa_goes18
data/spatial/noaa_ndvi
data/spatial/shapefiles/Provincial_Parks_BC_Albers

