.Rproj.user
.Rhistory
.RData
.Ruserdata

BIOL-310-LAB-2-question-11-17--Markdown-_files
intro
incomplete, misc

how to code/data_cleaning

how to code/How to do loops_conditions (UBCV)
how to code/nasa datadownload setup
how to code/noaa_resources
how to code/intro_r_resources/



data/CWFIS_Datamart
data/gov_bc_fire
data/modis_nrt
data/fire_firms
data/noaa_goes18
data/noaa_ndvi
data/shapefiles/bc_provincial_parks/Provincial_Parks_BC_Albers.zip
data/shapefiles/canada_national_parks/other_provinces
data/shapefiles/canada_national_parks/CLAB_CA_2023-09-08.zip